* {
    font-family: 'Nunito', sans-serif;
}

.library-main {
    width: 100vw;
    height: 80vvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.library-book {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40vw;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.add-book-form {
    margin: auto;
    width: 400px;
    background-color: lightgray;
    padding: 30px;
    border-radius: 10px;
}

.hide-form {
    display: none;
}

.show-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(249, 105, 14, .3);
    top: 0;
    left: 0;
}

.form-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.button-container {
    display: flex;
    justify-content: space-between;
}