.library-main {
    width: 100vw;
    height: 80vvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.library-book {
    text-align: center;
    width: 40vw;
}

.add-book-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: purple;
}

.hide-form {
    display: none;
}

.show-form {
    position: absolute;
    display: display;
}

.form-item-wrapper {
    display: flex;
    justify-content: space-between;
}